@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");






h1 {
    color: #F55800;
    font-family: 'Crete Round';
    font-style: normal;
    font-weight: 400;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
ul li {
    list-style: none;
}

.txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    color: #262626;

}